@*@using SalesTransactionCore.ViewModel
@model InvoiceViewModel*@
@*@model IEnumerable<SalesTransactionCore.ViewModel.InvoiceViewModel>*@
    @model IEnumerable<SalesTransaction.Model.Invoice>

@{
    ViewData["Title"] = "Generating Invoice";
    Layout = null;
}

<table class="table" id="InvoiceGrid">
    <thead class="thead-light">
        <div class="row">
    <div class="col-md-12">
        <tr>
                  <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th> 
               <th>
                @Html.DisplayNameFor(model => model.SalesId)
            </th>     
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>      
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceAmount)
            </th>
  
          <th>               
                
            </th>
        </tr>
    </thead>
    <tbody>
       
@foreach (var item in Model) {
        <tr>
                  <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
 
               <td>
                @Html.DisplayFor(modelItem => item.SalesId)
            </td>
 
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceAmount)
            </td>

                           <tfoot>
                <td>
                    <b>Total Rs: @Html.DisplayFor(modelItem => item.InvoiceAmount) </b>
                </td>
                </tfoot>
            </tr>
            <td>
            <button type="button" onclick="printPage()" runat="server">Print</button>
            </td>
}
    </tbody>
</table>
    </div>
</div>

@section script{
<script type="text/javascript">
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>

}
<script type="text/javascript">
    function printPage() {
        window.print();
    }

 </script>






